<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>Remote Control Client</title>
		<link href="statics/custom/style.css" rel="stylesheet">
	</head>
	<body>
		<section>
			<h1>CONTROLLER</h1>
			<div id="mode-switch">
				<input type="checkbox" id="mode" checked>
				<label for="mode">
					<span class="toggle-mode"></span>
					<span class="toggle-button"></span>
				</label>
			</div>
			<div id="next-prev-mode" class="buttons">
				<div>
					<button id="prev"><div></div></button>
					<button id="next"><div></div></button>
				</div>
			</div>
			<div id="arrow-mode" class="buttons">
				<div>
					<button id="up"><div></div></button>
				</div>
				<div>
					<button id="left"><div></div></button>
					<button id="right"><div></div></button>
				</div>
				<div>
					<button id="down"><div></div></button>
				</div>
			</div>
			<h1>STOPWATCH</h1>
			<div id="stopwatch">
				<time>00:00</time>
				<button id="start">START</button>
				<button id="stop" style="display:none">STOP</button>
				<button id="reset">RESET</button>
			</div>
			<h1>NOTE</h1>
			<p id="note"></p>
		</section>
		<script src="statics/jquery/dist/jquery.min.js"></script>
		<script src="https://cdn.pubnub.com/pubnub-3.16.4.min.js"></script>
		<script src="statics/custom/remote-control-client.js"></script>
	</body>
</html>
