<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Remote Control Client</title>
<style>
section {
    width: 90%;
    margin: 32px auto;
    border-radius: 6px;
    border: solid 2px SteelBlue;
}
h1 {
    margin: 0;
    padding: 8px;
    text-align: center;
    font-size: 1.6em;
    color: white;
    background: SteelBlue;
}
input {
	display: block;
	text-align: center;
	height: 32px;
	width: 160px;
	margin: 16px auto;
	padding: 0;
	background: AliceBlue;
	border: solid 1px SteelBlue;
	border-radius: 4px;
}
</style>
	</head>
	<body>
		<section>
			<h1>Reveal.js Controller</h1>
			<div>
				<form action="/" method="post">
					<input name="password" type="password" placeholder="Password">
					<input type="submit" value="Enter">
				</form>
			</div>
		</section>
	</body>
</html>
